@charset "UTF-8";

/*
  Paleta de cores
  Verde: #49a09d
  Azul Claro: #94FDFF
*/

* {
   font-family:Arial, Helvetica, sans-serif;
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
}

body, html {
  background-color: #94FDFF;
  height: 100vh;
  width: 100vw;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
}

section#login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  background-color: white;
  width: 250px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

  transition: width .3s, height 0.3s;
  transition-timing-function: ease;
}

section#login > div#imagem {
  display: block;
  background: #94FDFF url(../images/pexels-timea-kadar-2130610.jpg) no-repeat;
  background-size: cover;
  background-position: left bottom;
  height: 200px;

}

section#login > div#formulario {
  display: block;
  padding: 10px;

}

div#formulario > h1 {
  text-align: center;
  margin-bottom: 10px;
}

div#formulario > p {
font-size: 0.8em;
}

form > div.campo {
  background-color: aqua;
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin: 5px 0;
}

div.campo >label {
  display: none;
}

form > input[type=submit] {
  display: block;
  font-size: 1em;
  width: 100%;
  height: 40px;
  background-color: #94FDFF;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form > input[type=submit]:hover {
  background-color:darkturquoise;
}

form > a.botao {
  display: block;
  text-align: center;
  font-size: 1em;
  width: 100%;
  height: 40px;
  padding-top: 10px;
  margin-top: 5px;
  background-color:cyan;
  color:black;
  border: 1px solid #94FDFF;
  border-radius: 7px;
  text-decoration: none;
}

form > a.botao:hover {
  background-color:#5f2c;
}

form > a.botao > i {
  font-size: 0.8em;

}


  

